.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#__next
  > div
  > div.Home_container__bCOhY
  > div.Home_canvasContainer__AkFk8
  > div
  > canvas {
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.main {
  min-height: 100vh;
  padding: 4rem 0 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 1;
}

.canvasContainer {
  position: absolute;
  display: grid;
  place-items: center;
  margin-top: 60vh;
  left: 0px;
  right: 0px;
  object-fit: cover;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  /* text-decoration: underline; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #fafafa;
  /* margin: 4rem 0rem; */
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 3.5rem;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 3rem;
  }
}
